<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight No:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure:</div>
    <div><%= flight.departs %></div>
    <div>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
      <a href="/flights">
        <button>Go Back</button>
      </a>
    </div>
  </section>
  <h3>Tickets</h3>
  <form
    id="add-review-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat</label>
    <input type="text" name="seat" id="seat-input" />
    <label for="price-input">Price</label>
    <input type="number" name="price" id="price-input" />
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.seat %></td>
        <td><%= ticket.price %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <% } else { %>
  <h4>No Tickets Yet...</h4>
  <% } %>
</main>

<%- include("../partials/footer") %>
